.field
  %label{ for: 'username' } Username
  %input{ type: 'text', id: 'username', name: 'username'}
.actions
  %button{ class: 'score-trigger' } Get scores

#scores
  .total
    Total score:
    %span#total-score

